* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    border: 00px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.searchBar input:focus{
    outline: none;
}
